{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title_block %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">

    {% block style_block %}{% endblock  %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


<body>
    <nav class="navbar navbar-expand-lg rounded-6" style="background-color: #1c0305;" id="navbar-container flex gap-4">
        <div class="container-fluid px-2">
            <a class="navbar-brand" id="navbarBrand" href="{% url "starting_page" %}">
                <img src="/static/cuhlogo.png" alt="" style="height= 100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                
                <ul class="navbar-nav text">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Departments</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="{% url "all-school-page"%}" role="button" aria-expanded="false">
                            School
                        </a>
                        {% comment %} <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "all-school-page"%}">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul> {% endcomment %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Enquiry
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "hostel"%}" >Hostel</a></li>
                            <li><a class="dropdown-item" href="{% url "admission" %}">Admission</a></li>
                            <li><a class="dropdown-item" href="https://www.cuh.ac.in/exam_datesheet.aspx">Examination</a></li>
                            <li><a class="dropdown-item" href="https://cuh.campuspro.in/StudentFeePayment.aspx">Fee Payment</a></li>
                           
{% comment %} 
                            <li><a class="dropdown-item" href="#">Another action</a></li> {% endcomment %}
                            
                                {% comment %} <hr class="dropdown-divider"> {% endcomment %}
                            </li>
                            {% comment %} <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
                
            </div>
            <form method='POST' action="{% url "search-page" %}" class="d-flex px-2" role="search">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    id="searchIcon" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button class="adminLogin">
                <a id="adminLoginButton" href="/admin" target="_blank">Admin Login</a>
            </button>
        </div>
    </nav>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        {% block body_block %}{% endblock  %}
</body>

</html>
{% comment %} Prince Lal {% endcomment %}