/* @Prince Lal */
#departments {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* department container styling */
#all-dept {
    padding: 10px;
    width: 100%;
}

#all-dept h1 {
    display: flex;
    justify-content: center;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    /* background-color: aquamarine; */
}

#all-dept p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}

.dept_container {
    display: flex;
    width: 100%;
    /* margin: 10px; */
    gap: 10px;
}

/* every department */
.container {
    display: flex;
    min-width: calc(30%);
    border: 2px;
    border-style: solid;
    /* background-image: url(Sample.jpg); */
}

.dept {
    width: 48%;
}

/* 
.departmentButton{
    display:flex;
    /* width: 100%; */
/* flex-direction: column; 
    justify-content: space-between;
    flex-wrap: nowrap; */
/* } */


.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 10px;
}

.dept {
    width: 48%;
    /* Adjust the width as needed */
    /* margin: 1%; Adjust the margin as needed */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    border-style: solid;
    /* margin: 10px; */
    border-radius: 30px;
    margin-top: 15px;
    background-color: #fbeee0;
    border: 1px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 2px 2px 0 0;
    color: #422800;
    cursor: pointer;
    /* display: inline-block; */
    font-weight: 600;
    font-size: 18px;
    /* padding: 0 18px; */
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    justify-content: center;
    display: flex;
    align-items: center;
}

.dept:hover {
    background-color: #fff;
}

.dept:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .dept {
        min-width: 120px;
        padding: 0 25px;

    }
}

#departmentName {
    margin: 0px;
    color: #1900ff;
    font-weight: 600;
}

#departmentLocation {
    margin: 0;
    /* Remove default margin */
    text-align: center;
    padding: 10px 0px;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    /* text-decoration: none; */
}

.dept a {
    text-decoration: none;
}

/* css for school-description */
#school-description {
    border-style: solid;
    padding: 10px;

}